includes:
	- phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src/
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        analyse:
            - src/Provider/OauthUserProvider.php # This will be fully refactored
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
        - '#Call to an undefined method Doctrine\\ORM\\EntityRepository::findOneBy#'
        - '#Method Psr\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required.#'
        - '#no value type specified in iterable type array#'