parameters:
    ignoreErrors:
        -
            message: "#Method Symfony\\\\Component\\\\PasswordHasher\\\\PasswordHasherInterface::hash\\(\\) invoked with 2 parameters, 1 required.#"
            count: 1
            path: src/Manager/UserManager.php
