{% trans_default_domain 'sfs_user' %}
{% for access in entities %}
    <tr>
        <td>{{ access.loginAt|date('H:i:s d-m-Y') }}</td>
        <td>{{ access.user.username }}</td>
        <td>{{ access.ip }}</td>
        <td>{{ access.userAgent }}</td>
    </tr>
{% endfor %}