{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/layout_fullscreen.html.twig' %}

{% block content %}
    <h1>Welcome {{ app.user.name|default(app.user.userIdentifier) }}!!</h1>
{% endblock content %}